body {
    background: plum;
}

form {
    width: 300px;
    padding: 30px;
    margin: 30px auto;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
}

form > h3 {
    margin-top: 0px;
    font-size: 1.5em;
}

form > input {
    width: 100%;
    border: none;
    height: 30px;
    display: block;
    text-indent: 15px;
    background: #ccc;
    margin-bottom: 15px;
    border-radius: 10px;
}

form a {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease-out;
}

form a:hover {
    color: orange;
}

input[type=submit] {
    background: purple;
    color: white;
    width: auto;
    padding: 0 15px;
    text-indent: 0;
}